<!DOCTYPE html>

{% load staticfiles %}
<html>
    <style>
        body {
            background-color: black;
            color: azure;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .centredContent{
            width: fit-content;
            margin: auto;
        }
        </style>
<div class="centredContent">
    <div>   
        <img src="{% static 'images/cats_with_fire.jpg' %}"
        alt="Picture of Cats with fire" />
    </div>
    <div>
        <h1>All the cats are: </h1>
    </div>
    <div>
        {% if cats %}
        <ul>
            {% for cat in cats %}
                <li>{{ cat.cat_name }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no cats in the cattery.</strong>
        {% endif %}
    </div>
    <div>
        Click to go back to <a href='http://localhost:8000/'>Home</a>
    </div>
</div>
</html>